<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gosoft.th.co.go10"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="th.co.gosoft.go10.util.GO10Application"
        android:allowBackup="true"
        android:icon="@drawable/chatboxfinal3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyCustomTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="th.co.gosoft.go10.activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="th.co.gosoft.go10.activity.LoginActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="th.co.gosoft.go10.activity.SplashScreen" />
        <activity android:name="th.co.gosoft.go10.activity.AddSelectMultiAvatarActivity" />
        <activity android:name="th.co.gosoft.go10.activity.SelectRoomActivity" />
        <activity android:name="th.co.gosoft.go10.activity.RegisterActivity" />
        <activity android:name="th.co.gosoft.go10.activity.UtilityActivity" />
        <activity android:name="th.co.gosoft.go10.activity.AddAvatarActivity" />
        <activity android:name="th.co.gosoft.go10.activity.AllAvatarActivity" />
        <activity android:name="th.co.gosoft.go10.activity.BoardContentActivity" />
        <activity android:name="th.co.gosoft.go10.activity.WritingCommentActivity" />
        <activity android:name="th.co.gosoft.go10.activity.WritingTopicActivity" />
        <activity android:name="th.co.gosoft.go10.activity.PreviewActivity" />
        <activity android:name="th.co.gosoft.go10.activity.RoomActivity" />
        <activity android:name="th.co.gosoft.go10.activity.SelectAvatarActivity" />
        <activity android:name="th.co.gosoft.go10.activity.BoardUpdateCommentActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>